*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/.buildozer
*.pyc
__pycache__
media_cache
user_data
*.json
!gradle-wrapper.properties
